<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="person" class="org.springframework.com.zy.Person">
		<property name="color" value="yellow"></property>
	</bean>
	<bean name="user" class="org.springframework.com.zy.User" parent="person">
		<property name="userName" value="张三"></property>
		<property name="age" value="18"></property>
	</bean>
</beans>