<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:component-scan base-package="org.springframework.com.zy"></context:component-scan>
	<bean name="person" class="org.springframework.com.zy.Person">
		<property name="color" value="yellow"></property>
	</bean>
	<bean name="user" class="org.springframework.com.zy.User" parent="person">
		<property name="userName" value="张三"></property>
		<property name="age" value="18"></property>
	</bean>
</beans>